.order {
  background-color: whitesmoke;
  margin-top: 20px;
  padding: 15px;
  width: 80%;
  margin-left: 10%;
}
.date {
  color: black;
  text-align: center;
}
.image {
  height: 75px;
  width: 75px;
}
.order-time {
  padding: 6px;
}
.order-id {
  padding: 6px;
  margin-left: 80%;
}
