.heading {
  font-size: 40px;
  text-align: center;
}
.display {
  margin: 10px;
}
.display-details {
  margin-top: 1%;
}
.minus {
  color: red;
}
.plus {
  color: rgb(76, 231, 76);
}
.trash {
  color: red;
  margin-right: 5%;
}
.float-right {
  float: right;
}
.card {
  margin-top: 10px;
  height: 290px;
  width: 40%px;
  border-radius: 20px;
  border: 1px solid black;
  justify-content: center;
}
.button {
  background-color: white;
  margin: 0px auto;
  margin-left: 30%;
  width: 150px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(104, 136, 241);
  transition: 0.4s;
  margin-bottom: 6px;
}
.button:hover {
  background-color: rgb(104, 136, 241);
  color: white;
}
.image {
  margin-top: 6%;
  margin-left: 12%;
}
.card-box {
  background-color: whitesmoke;
  margin-top: 3px;
  height: 40%px;
  width: 92%px;
  border: 0.5px solid black;
  border-radius: 20px;
}
.error-message {
  margin: 0px auto;
  margin-top: 15%;
  margin-bottom: 15%;
}
.bottom {
  margin-bottom: 15.5%;
}
.alert {
  margin: 0px auto;
  width: 50%;
  height: 20%px;
  font-weight: bold;
  font-size: 40px;
}
@media screen and (max-width: 450px) {
  .display-details {
    padding-left: 5%;
  }
  .alert {
    font-size: 20px;
  }
}
