.background {
  background-image: url("../../media/background.jpg");
  min-height: 100%;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  font-size: 40px;
  text-align: center;
}
.display {
  float: left;
  margin: 10px;
}
.display-details {
  margin-right: 15%;
  margin-top: 1%;
}
.minus {
  color: red;
}
.plus {
  color: rgb(76, 231, 76);
}
.trash {
  color: red;
  margin-right: 5%;
}
.float-right {
  float: right;
}
.card {
  margin-top: 10px;
  height: 290px;
  width: 400px;
  margin-left: 25px;
  border-radius: 20px;
  border: 1px solid black;
}
.button {
  background-color: white;
  margin: 0px auto;
  margin-left: 30%;
  width: 150px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(104, 136, 241);
  transition: 0.4s;
  margin-bottom: 6px;
}
.button:hover {
  background-color: rgb(104, 136, 241);
  color: white;
}
.image {
  margin-top: 6%;
  margin-left: 12%;
}
.card-box {
  background-color: whitesmoke;
  margin-top: 3px;
  height: 130px;
  width: 770px;
  /* margin-left: 10%; */
  border: 0.5px solid black;
  /* padding: 1%; */
  /* margin-left: 25px; */
  border-radius: 20px;
}
.error-message {
  margin: 0px auto;
  margin-top: 15%;
}
