.button {
  background-color: white;
  margin: 0 auto;
  width: 150px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(104, 136, 241);
  transition: 0.4s;
  margin-bottom: 6px;
}
.button:hover {
  background-color: rgb(104, 136, 241);
  color: white;
}
.text {
  text-align: center;
}
